* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe Ui', sans-serif;
}

body {
    /*   background: linear-gradient(to left, black, #530447);*/
    background: black;
}

div {
    display: flex;
    position: relative;
    padding-top: 25vh;
}